<mat-grid-list cols="4" rowHeight="2:1">
  <!-- <mat-list> -->
  <mat-grid-tile *ngFor="let tapa of tapas$ | async" [routerLink]="['/tapa', tapa.id]">
    <mat-card>
      <h3 mat-line> {{ tapa.name }} </h3>
      <img mat-list-avatar [src]="tapa?.pictureUrl" alt="Picture of {{tapa?.name}}" class="circle" width="200px">

      <mat-card-content style="margin-top: 20px;">
          <img src="/assets/img/{{tapa?.category}}-icon.png" alt="{{tapa?.category}}" />
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <!-- </mat-list> -->
</mat-grid-list>
<a routerLink="/tapa/new" mat-fab title="Add a new tapa" class="tap-floating-button">
  <mat-icon class="md-18">add</mat-icon>
</a>
